@import './../../styles/modules/variables';

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    position: relative;
    background-color: $primary-color;
    &>*{
        @extend %center;
    }
}

.currentNextPrev{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.navigation>div>*{
    cursor: pointer;
}

.weekMonth{
    display: flex;
    justify-content: center;
    padding: 6px 0;
}

